<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern"
				value="%d{ISO8601} %p %c %X{loggingIdentifier} %X{hostname} %X{clientIpAddress} %X{transactionIdentifier} %m%n" />
		</layout>
	</appender>
	<appender name="syslogudp" class="org.apache.log4j.net.SyslogAppender">
		<param name="syslogHost" value="syslog.bank.com" />
		<param name="facility" value="user" />
		<param name="facilityPrinting" value="false" />
		<param name="threshold" value="WARN" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern"
				value="%d{ISO8601} %p %c %X{loggingIdentifier} %X{hostname} %X{clientIpAddress} %X{transactionIdentifier} %m%n" />
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.FileAppender">  
		<param name="File" value="/usr/tomcat/webapps/ViewPINAuthority/WEB-INF/classes/auth.log"/> 
        <param name="threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{ISO8601} %p %c %X{loggingIdentifier} %X{hostname} %X{clientIpAddress} %X{transactionIdentifier} %m%n" />
        </layout>
    </appender>
	<category name="com.safenetinc.viewpin" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
		<appender-ref ref="syslogudp" />
	</category>
</log4j:configuration>